@if (!getStarted) {

<div class="p-4">
  <div class="flex flex-col space-y-3">
    <img
      class="rounded-lg w-[full] h-[300px] object-cover"
      src="https://images.pexels.com/photos/5778899/pexels-photo-5778899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
    <div>
      <h1 class="text-3xl font-semibold">Save all your moments in one place</h1>
      <p>
        Imagine a video-centric service that seamlessly captures and organizes
        all your life moments in a secure digital vault.
      </p>
    </div>
  </div>

  <button
    (click)="startLogin()"
    class="border px-4 py-2 rounded-lg bg-blue-400 text-white"
  >
    Get Started
  </button>
</div>

} @else {
<div class="flex flex-col items-center justify-center h-[80vh] w-full">
  <div class="w-full font-bold text-2xl text-center">Login to your Account</div>
  <div class="flex flex-col p-4 w-[320px]">
    <mat-form-field class="">
      <mat-label>Email Address </mat-label>
      <input matInput [(ngModel)]="emailAddress" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password </mat-label>
      <input matInput [(ngModel)]="password" required />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </div>
</div>

}
